
body {
   background-color: rgb(234, 236, 236);
   margin: 0;
   display: flex;
   flex-direction: column;
   width: 100%;
} 

hr { 
	margin: 0 0 0 auto;
	border: solid;
    height: 3px;
	width: 75%;
	background-color: black;	
	margin-bottom: 20px;
}

#icon {
	width: 50px;
	height: 50px;
	top: 4%;
	left: 25%;
	position: absolute;
}

.title {
	width: 100%;
	text-align: right;
	font-family: Bookman Old Style;
	font-size: 18px; 
}

#mainimage {
	margin-left: 25%;
	height: 150px;
	background-color: blue;
}	

.container {
	display: flex;
	float: right;
	margin-left: 25%;
}

.container #container1 {
	float: left;	
	width: 33.33%;
	margin: 0 auto;
	text-align: left;
	padding-top: 20px;
}

.container #container2 {
	float: left;	
	width: 33.33%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

.container #container3 {
	float: left;	
	width: 33.33%;
	margin: 0 auto;
	text-align: right;
	padding-top: 20px;
}

#imgtext1  {
	font-family: signboard;
	font-size: 24px;
	text-align: center;
}

#imgtext2  {
	font-family: signboard;
	font-size: 24px;
	text-align: center;
}

#imgtext3  {
	font-family: signboard;
	font-size: 24px;
	text-align: center;	
}

.linkImage{
	width: 90%;
}

@media screen and (max-width: 575px) {
	.container {
	  flex-direction: column;
	}

	#icon {
		width: 25px;
		height: 25px;
		top: 1%;
		left: 25%;
		position: absolute;
	}

	.title{
		font-size: 9px;
	}

	#imgtext1  {
        font-size: 15px;
    }    
    #imgtext2  {
        font-size: 15px;
    }    
    #imgtext3  {
        font-size: 15px;    

  }

/* Galaxy S5 */
@media screen and (min-width: 360px) {

}

/* iPad */
@media screen and (min-width: 768px) {

}

/* iPad Pro */
@media screen and (min-width: 1024px) {
	
}
