
body {
   background-color: rgb(234, 236, 236);
} 

.wrapper {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

hr { 
	margin: 0 0 0 auto;
	border: solid;
    height: 3px;
	width: 75%;
	background-color: black;	
	margin-bottom: 20px;
}

#icon {
	width: 50px;
	height: 50px;
	top: 4%;
	left: 25%;
	position: absolute;
}

.title {
	width: 100%;
	text-align: right;
	font-family: Bookman Old Style;
	font-size: 18px; 
}

.container {
	float: right;
	width: 75%;
	display: flex-wrap;
	flex-wrap: wrap;
	margin-left: 25%;
}


.container1 {
	float: left;	
	width: 33.33%;
	margin: 0 auto;
	text-align: left;
	padding-top: 20px;
}

.container2 {
	float: left;	
	width: 33.33%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

.container3 {
	float: left;	
	width: 33.33%;
	margin: 0 auto;
	text-align: right;
	padding-top: 20px;
}

#imgtext1  {
	font-family: signboard;
	font-size: 24px;
	text-align: center;
}

#imgtext2  {
	font-family: signboard;
	font-size: 24px;
	text-align: center;
}

#imgtext3  {
	font-family: signboard;
	font-size: 24px;
	text-align: center;	
}

@media screen and (min-width: 550px) {
    #mainimage {
		width: 100%;
		height: 300px;
		background-color: blue;
	}	
    #image1 {
		width: 20%;
		height: 150px;
		order: -1;	
	}	
	#image2 {
		width: 20%;
		height: 150px;
		order: 1;		
	}
	#image3 {
		width: 20%;
		height: 150px;
		order: 2;		
	}
}

/* Galaxy S5 */
@media screen and (min-width: 360px) {
	#icon {
		width: 25px;
		height: 25px;
		top: 3%;
		left: 25%;
		position: absolute;
	}
    #mainimage {
		width: 100%;
		height: 100px;
		background-color: blue;
	}	
    #image1 {
		width: 90%;
		height: 50px;
		order: -1;	
	}	
	#image2 {
		width: 90%;
		height: 50px;
		order: 1;		
	}
	#image3 {
		width: 90%;
		height: 50px;
		order: 2;		
	}
	.title {
		font-size: 9px; 
	}
	#imgtext1  {
		font-size: 15px;
	}	
	#imgtext2  {
		font-size: 15px;
	}	
	#imgtext3  {
		font-size: 15px;	
	}
}

img, embed, object, video {
	max-width: 100%;
}

@media screen and (min-width: 700px) {
    #mainimage {
		width: 100%;
		height: 300px;
		background-color: blue;
	}
    #image1 {
		width: 90%;
		height: 150px; 
		order: -1;	
	}	
	#image2 {
		width: 90%;
		height: 150px;
		order: 1;		
	}
	#image3 {
		width: 90%;
		height: 150px;
		order: 2;		
	}
}

/* iPad */
@media screen and (min-width: 768px) {
	#icon {
		width: 25px;
		height: 25px;
		top: 2%;
		left: 25%;
		position: absolute;
	}
    #mainimage {
		width: 100%;
		height: 300px;
		background-color: blue;
	}
    #image1 {
		width: 90%;
		height: 150px; 
		order: -1;	
	}	
	#image2 {
		width: 90%;
		height: 150px;
		order: 1;		
	}
	#image3 {
		width: 90%;
		height: 150px;
		order: 2;		
	}	
	#imgtext1  {
		font-size: 24px;
	}	
	#imgtext2  {
		font-size: 24px;
	}	
	#imgtext3  {
		font-size: 24px;	
	}
}

/* iPad Pro */
@media screen and (min-width: 1024px) {
	#icon {
		width: 25px;
		height: 25px;
		top: 1%;
		left: 25%;
		position: absolute;
	}
    #mainimage {
		width: 100%;
		height: 300px;
		background-color: blue;
	}
    #image1 {
		width: 90%;
		height: 150px; 
		order: -1;	
	}	
	#image2 {
		width: 90%;
		height: 150px;
		order: 1;		
	}
	#image3 {
		width: 90%;
		height: 150px;
		order: 2;		
	}
	#imgtext1  {
		font-size: 30px;
	}	
	#imgtext2  {
		font-size: 30px;
	}	
	#imgtext3  {
		font-size: 30px;	
	}
}
